.name-form {
  
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    p {
      width: 100%;
      margin: 0 0 16px 0;
      text-align: center;
      span {
        font-weight: 600;
      }
    }
  }
}