@import './flex.scss';

#wpcontent {
  height: calc(100vh - 42px);
  display: flex;
  justify-content: center;
  align-items: center;
  * {
    box-sizing: border-box;
  }
}

.form-element {
  &__label {
    display: block;
    width: 100%;
  }
  &__image {
    background-color: #1f1f1f;
    border-radius: 4px;
    width: 80px;
    height: 80px;
  }
  &__submit {
    display: block;
    padding: 8px 52px;
    height: 42px;
    background-color: #1f1f1f;
    color: white;
    border: 1px solid #1f1f1f;
    border-radius: 4px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #000;
    }
  }
}

input[type=text] {
  &.form-element {
    &__input {
      display: block;
      width: 100%;
      background-color: #ebebeb;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      color: #303030;
      padding: 4px 18px;
      margin-bottom: 12px;
    }
  }
}

.elements-group {
  margin-bottom: 16px;
  &__label-input {
    background-color: #ebebeb;
    border-radius: 4px;
    padding: 8px 16px 4px 16px;
    width: 100%;
    margin-bottom: 12px;
    .form-element {
      &__label {
        font-weight: 600;
        text-decoration: solid;
      }
    }
    input[type=text] {
      &.form-element {
        &__input {
          &::placeholder {
            color: #747474;
          }
          margin: 0;
          padding: 0;
          &:focus{
            border-color: transparent!important;
            box-shadow: none!important;
            outline: none!important;
          }
        }
      }
    }
  }
  &__image {
    cursor: pointer;
    width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    justify-content: center;
    gap: 16px;
    .elements-group__label-input {
      margin-bottom: 0;
    }
  }
}

.card {
  background-color: #f5f5f5;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.08);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.08);
  border-radius: 8px;
  padding: 20px;
}

.btn {
  &--icon {
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: #1f1f1f;
    color: white;
    min-width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
}